---
import { Image } from "astro:assets"
import GithubLogo from "../images/github.svg"
import LinkedinLogo from "../images/linkedin.svg"
import XLogo from "../images/x.svg"
import FacebookLogo from "../images/facebook.svg"
---

<footer>
    <div>
        <a href="/"><Image src={GithubLogo} alt="logo"/></a>
        <a href="/"><Image src={LinkedinLogo} alt="logo"/></a>
        <a href="/"><Image src={XLogo} alt="logo"/></a>
        <a href="/"><Image src={FacebookLogo} alt="logo"/></a>
        <hr/>
        <a href="/blog">Blog</a>
        <a href="/contact">Contact</a>
        <p>©{new Date().getFullYear()} Abe Hiroki</p>
    </div>
</footer>
